<div class="runner-options">
  <label class="runner-option" *ngFor="let option of question.options">
    <input
      type="radio"
      [name]="'single-option-' + question.id"
      [value]="option.id"
      [(ngModel)]="selectedOptionId" />
    <span class="runner-option__label">{{ option.label }}</span>
  </label>
</div>

<div class="btn-row runner-form__actions">
  <button class="btn-primary" type="button" (click)="submit()" [disabled]="saving">
    {{ saving ? 'Guardando...' : 'Siguiente' }}
  </button>
</div>
