<div class="global-loader" *ngIf="(loading$ | async) as loadingCount" [class.visible]="loadingCount > 0">
  <div class="global-loader__backdrop" *ngIf="loadingCount > 0"></div>
  <div class="global-loader__card" *ngIf="loadingCount > 0">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>

<section class="toast-stack" *ngIf="toasts$ | async as toasts">
  <article
    class="toast"
    *ngFor="let toast of toasts"
    [class.toast--error]="toast.type === 'error'"
    [class.toast--success]="toast.type === 'success'"
    [class.toast--info]="toast.type === 'info'">
    <span>{{ toast.message }}</span>
    <button type="button" class="toast__close" (click)="removeToast(toast.id)">x</button>
  </article>
</section>

<router-outlet></router-outlet>
